:root {
    --light-yellow: #FFF9BB;
    --light-green: #DBF2C8;
    --light-blue: #CBECFF;
    --light-purple: #E0D3EF;
    --light-red: #FACBDD;
    --light-orange: #FFDDC4;
    --light-gray: #6e6e6e;

    --dark-yellow: #86761E;
    --dark-green: #49682F;
    --dark-blue: #386481;
    --dark-purple: #524068;
    --dark-red: #77374F;
    --dark-orange: #894C20;
    --dark-gray: #c7c7c7;

    --text-color-in-dark: #cecac3;
    --text-color-in-light: #292929;

    --box-bg-color-in-dark: #202324;
    --box-bg-color-in-light: #f1f1f1;

    --link-color-in-light: #2878bb;
    --link-color-in-dark: #65aade;

    --shadow-color-blue: #279CE0;
    --shadow-color-orange: #F39949;

    --yellow: var(--light-yellow);
    --green: var(--light-green);
    --blue: var(--light-blue);
    --purple: var(--light-purple);
    --red: var(--light-red);
    --orange: var(--light-orange);
    --gray: var(--light-gray);

    --text-color: var(--text-color-in-light);
    --text-color-opposite: var(--text-color-in-dark);
    --link-color: var(--link-color-in-light);
    --box-color: var(--box-bg-color-in-light);

    --opposite-yellow: var(--dark-yellow);
    --opposite-green: var(--dark-green);
    --opposite-blue: var(--dark-blue);
    --opposite-purple: var(--dark-purple);
    --opposite-red: var(--dark-red);
    --opposite-orange: var(--dark-orange);
    --opposite-gray: var(--dark-gray);
}

.highlighted {
    &.refined-jw-yellow-bg {
        --bg-color: var(--yellow);
        --shadow-color: var(--opposite-yellow)
    }

    &.refined-jw-green-bg {
        --bg-color: var(--green);
        --shadow-color: var(--opposite-green)
    }

    &.refined-jw-blue-bg {
        --bg-color: var(--blue);
        --shadow-color: var(--opposite-blue)
    }

    &.refined-jw-purple-bg {
        --bg-color: var(--purple);
        --shadow-color: var(--opposite-purple)
    }

    &.refined-jw-red-bg {
        --bg-color: var(--red);
        --shadow-color: var(--opposite-red)
    }

    &.refined-jw-orange-bg {
        --bg-color: var(--orange);
        --shadow-color: var(--opposite-orange)
    }

    background-color: var(--bg-color);

    &:hover {
        border-bottom: 1px solid var(--shadow-color);
        cursor: pointer;
    }
}


kbd {

    --bg-color: var(--popup-kbd-color-background);
    --border-color: var(--popup-kbd-color-border);
    --text-color: var(--popup-kbd-color-border);
    --shadow-color: var(--popup-kbd-color-border);

    &.refined-jw-yellow-bg {
        --bg-color: var(--yellow);
        --border-color: var(--opposite-yellow);
        --text-color: var(--opposite-yellow);
        --shadow-color: var(--opposite-yellow);
    }

    &.refined-jw-green-bg {
        --bg-color: var(--green);
        --border-color: var(--opposite-green);
        --text-color: var(--opposite-green);
        --shadow-color: var(--opposite-green);
    }

    &.refined-jw-blue-bg {
        --bg-color: var(--blue);
        --border-color: var(--opposite-blue);
        --text-color: var(--opposite-blue);
        --shadow-color: var(--opposite-blue);
    }

    &.refined-jw-purple-bg {
        --bg-color: var(--purple);
        --border-color: var(--opposite-purple);
        --text-color: var(--opposite-purple);
        --shadow-color: var(--opposite-purple);
    }

    &.refined-jw-red-bg {
        --bg-color: var(--red);
        --border-color: var(--opposite-red);
        --text-color: var(--opposite-red);
        --shadow-color: var(--opposite-red);
    }

    &.refined-jw-orange-bg {
        --bg-color: var(--orange);
        --border-color: var(--opposite-orange);
        --text-color: var(--opposite-orange);
        --shadow-color: var(--opposite-orange);
    }


    &:hover {
        box-shadow: 0 1px 0 0.5px var(--shadow-color);
    }

    background-color: var(--bg-color);
    color: var(--text-color);
    border-color: var(--border-color);
    box-shadow: 0 2px 0 1px var(--shadow-color);
}

.refined-jw-audio-rate {
    padding-left: .5em !important;
}

.refined-jw-speech-time {
    text-align: right;
    font-size: 80%;
    margin-top: 0.25em;
    width: fit-content;
    color: var(--gray);
    user-select: none;
    display: flex;
    gap: .5em;
    justify-content: end;
}

.refined-jw-speech-time-long {
    color: var(--dark-yellow);
}

.refined-jw-speech-time-summarize {
    color: var(--link-color);
    cursor: pointer;
}

.refined-jw-speech-time-summarize:hover {
    text-decoration: underline;
}

.badge {

    --bg-color: var(--gray);

    &.free {
        --bg-color: var(--link-color);
    }

    &.version {
        --bg-color: var(--opposite-purple);
    }

    &.promo {
        --bg-color: var(--opposite-purple);
    }

    &.seen {
        --bg-color: var(--opposite-blue);
    }

    &.stopwatch {
        --bg-color: var(--blue);
        pointer-events: auto !important;
        cursor: pointer;
        text-transform: none !important;
        margin-right: auto !important;
        margin-left: 0 !important;
        margin-top: .25rem !important;
        padding: .2rem !important;
        display: inline !important;
    }

    background-color: var(--bg-color);
    font-size: 0.75rem;
    text-decoration: none;
    display: inline-block;
    padding: 0 0.5em;
    border-radius: 3px;
    margin-left: 0.5em;
    font-weight: bolder;
    color: var(--box-color);
    text-transform: uppercase;
    pointer-events: none;
    width: max-content;
}

.refined-jw-summarized {
    width: 100%;
    background-color: var(--box-color);
    border-left: 3px solid var(--text-color);
    color: var(--text-color) !important;
    padding: 1em;
    line-height: 1.2em;
    border-radius: 3px;
}

.gen-field {
    text-decoration-line: none !important;
}

textarea {
    height: auto;
}

.seen {
    display: inline-block;
    width: 1rem;
    height: auto;
    cursor: pointer;

    > svg {
        object-fit: contain;
    }
}

.jw-refined-article-parent {
    position: relative;
}

.jw-refined-article-left {
    margin: 0 !important;
    float: left;
}

.seen-inside-image {
    speak: none;
    width: 40px;
    height: 40px;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    background-color: rgba(0, 0, 0, .6);
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 40px;
    cursor: pointer;

    &:hover {
        background-color: #504d7c;
    }
}

/* media selector for dark mode */
@media (prefers-color-scheme: dark) {
    :root {

        --shadow-color-blue: #1A6A99;
        --shadow-color-orange: #99602e;

        --yellow: var(--dark-yellow);
        --green: var(--dark-green);
        --blue: var(--dark-blue);
        --purple: var(--dark-purple);
        --red: var(--dark-red);
        --orange: var(--dark-orange);
        --gray: var(--dark-gray);

        --text-color: var(--text-color-in-dark);
        --text-color-opposite: var(--text-color-in-light);
        --link-color: var(--link-color-in-dark);
        --box-color: var(--box-bg-color-in-dark);

        --opposite-yellow: var(--light-yellow);
        --opposite-green: var(--light-green);
        --opposite-blue: var(--light-blue);
        --opposite-purple: var(--light-purple);
        --opposite-red: var(--light-red);
        --opposite-orange: var(--light-orange);
        --opposite-gray: var(--light-gray);
    }

    .refined-jw-speech-time-long {
        color: var(--light-yellow);
    }
}

/* Transition for the popover itself */
#anchor_1 {
    anchor-name: --anchor_1;
}

[popover]:popover-open {
    opacity: 1;
}

[popover] {
    font: 13px/1.231 arial, helvetica, clean, sans-serif;
    padding: .25rem .5rem;
    border: 1px solid var(--opposite-purple);
    background-color: var(--purple);
    border-radius: 0 .5rem .5rem .5rem;
    color: var(--text-color);
    max-width: min(20vw, 250px);
    box-shadow: 0 25px 50px -12px var(--opposite-purple);

    /* Final state of the exit animation */
    opacity: 0;

    transition: opacity 0.7s,
    transform 0.7s,
    overlay 0.7s allow-discrete,
    display 0.7s allow-discrete;
    /* Equivalent to
    transition: all 0.7s allow-discrete; */

    position: absolute;
    position-anchor: --anchor_1;
    inset-block-start: anchor(--anchor_1 bottom);
    inset-inline-start: anchor(--anchor_1 left);
}

/* Needs to be after the previous [popover]:popover-open rule
to take effect, as the specificity is the same */
@starting-style {
    [popover]:popover-open {
        opacity: 0;
    }
}

.popover-dismiss {
    cursor: pointer;


    &:hover {
        text-decoration: underline;
    }
}

#vjs_video_3 > div.vjs-text-track-display > div > div > div {
    /*background-color: red !important;*/
    /*color: blue !important;*/
}

.jw-refined-transcription {
    max-width: 70ch;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.jw-refined-transcription-title {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.jw-refined-transcription-link {
    line-break: anywhere;
}

.jw-refined-hint.open {
    transition: height .5s;

    height: 80vh;

    opacity: 1;
    pointer-events: unset;

    overflow: hidden;

    > * {
        transition: opacity 1s;

        opacity: 1;
        pointer-events: unset;
    }
}

@keyframes revert-overflow {
    from {
        overflow-y: hidden;
    }

    to {
        overflow-y: auto;
    }
}

.jw-refined-hint {
    transition: height .5s;

    position: fixed;
    top: 0;
    right: 1rem;
    width: min(90%, 800px);
    height: 0;
    z-index: 999999;
    box-sizing: border-box;

    overflow: hidden;

    border-radius: 0 0 .5rem .5rem;
    backdrop-filter: blur(1rem);
    box-shadow: rgba(0, 0, 0, 0.8) 0 0 50px;

    opacity: 0;
    pointer-events: none;

    > * {
        transition: opacity 1s;

        opacity: 0;
        pointer-events: none;
    }

    .shortcuts-container {
        padding-top: 1rem;
        position: absolute;
        inset: 0;
        box-sizing: border-box;

        overflow-x: hidden;
        overflow-y: auto;

        scrollbar-width: thin;
        scrollbar-color: var(--popup-kbd-color-border) var(--popup-color-background);

        animation-duration: 0s;
        animation-delay: .5s;
        animation-name: revert-overflow;
        animation-fill-mode: forwards;

        .note {
            border-top: var(--popup-color-border) solid 1px;
        }

    }

    .jw-refined-hint-close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        padding: 0.5rem;
        border-radius: 100% 100%;
        width: 2rem;
        height: 2rem;
        display: flex;

        justify-content: center;
        align-items: center;

        cursor: pointer;
        background-color: var(--popup-color-background);

        color: var(--popup-color-text);
        outline: var(--popup-color-border) solid 1px;

        user-select: none;

    }
}

.jw-refined-pinned-quotes {
    .pinned-quote {
        box-shadow: none !important;
        margin: 0 !important;
        margin-bottom: 1rem !important;
        max-width: 30em;
        max-height: 100%;
        min-height: 6em;
        min-width: 250px;
        padding: 0;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        background-color: #fff;
        color: #333;

        .tooltipHeader {
            font-size: .9em;
            font-weight: 500;
            height: 2.5em;
            min-height: 40px;
            background-color: #d8d7d5;
            top: 0;
            z-index: 1;

            .tooltipType {
                float: left;
                margin-left: 12px;
                line-height: 2.5em;
            }

            .jw-refined-pinned-quote-close-button {
                margin-right: 4px;
                margin-top: 4px;
                position: relative;
                display: block;
                right: 0;
                top: 0;
                cursor: pointer;
                float: right;

                .icon {
                    width: 32px;
                    height: 32px;
                    display: inline-block;
                    cursor: pointer;
                    background: url(https://wol.jw.org/img/wol-sprites-2021.1.png) no-repeat 0 -480px;
                    background-size: 192px 4080px;
                }

                &:hover {
                    .icon {
                        background-position: -48px -480px;
                        text-decoration: none;
                    }
                }
            }
        }

        ul.tooltipList {
            margin: 0;
            list-style-type: none;
            padding-left: 0;
            padding-right: 0;

            .tooltipContent {
                padding-left: 12px;
            }
        }

    }
}

.jw-refined-button-hint {


    @media screen and (min-width: 1201px) {

        width: 0 !important;
        height: 0 !important;

        &:hover {
            background-color: unset !important;
        }

        span {
            width: 0 !important;
            height: 0 !important;

            div {

                position: fixed;
                top: 1rem;
                right: 1rem;
                width: 48px;
                height: 0;
                z-index: 999998;
                overflow: hidden;

                background: none;

                animation: appear-icon;
                animation-delay: 0s;
                animation-duration: 0.7s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;

                border: none !important;
                margin: 0 !important;
                border-radius: .3rem;

            }
        }
    }

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer !important;
    padding: 0 !important;

    .buttonIcon {
        width: 48px;
        display: flex;
        border-radius: .5rem;
        overflow: hidden;
        justify-content: center;

        @media screen and (min-width: 1201px) {
            display: block;
            width: 48px;
            border-radius: 0 0 .5rem .5rem;
            overflow: hidden;
        }

        > svg {
            width: 48px;
            vertical-align: unset !important;
            object-fit: contain;
        }
    }

    .buttonText {
        display: unset;

        @media screen and (min-width: 1201px) {
            display: none !important;
        }
    }

    .icon {
        width: 48px;
        display: flex;
        justify-content: center;

        border-radius: .3rem;
        overflow: hidden;

        > div > svg {
            position: relative;
            top: -8px;
        }

        @media screen and (min-width: 1201px) {
            width: 32px;

            > div > svg {
                position: unset;
                top: 0;
            }
        }


        > img {
            width: 32px;
            border-radius: .5rem;
            vertical-align: unset !important;
            object-fit: contain;

            @media screen and (min-width: 1201px) {
                border-radius: 0 0 .5rem .5rem;
            }
        }
    }


    .label {
        display: unset;

        @media screen and (min-width: 1201px) {
            display: none !important;
        }
    }

}


@keyframes appear-icon {
    from {
        opacity: 0;

        box-shadow: 0px 0px 0px var(--shadow-color-blue),
        0px 0px 0px var(--shadow-color-orange);
    }

    to {
        opacity: 1;

        box-shadow: -20px 20px 60px var(--shadow-color-blue),
        20px -20px 60px var(--shadow-color-orange);
    }
}

#download-vtt {
    width: max-content;
}

.with-action {
    cursor: pointer;
}
